In [12]:
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()

In [13]:
df = 'BOLLYWOOD'

In [14]:
import pandas as pd

In [15]:
sf_df = my_session.sql("select * from {}".format(df))

In [17]:
import pandas as pd
pandas_df = sf_df.to_pandas()

In [18]:
pandas_df

,SLNO,RELEASEDATE,MOVIENAME,RELEASETIME,GENRE,BUDGET,BOXOFFICECOLLECTION,YOUTUBEVIEWS,YOUTUBELIKES,YOUTUBEDISLIKES
0,1,2014-04-18,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,2013-01-04,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,2014-07-18,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,2013-01-04,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,2014-07-04,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,2015-02-27,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,2015-03-13,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,2015-03-20,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,2015-03-20,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,2014-05-23,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [21]:
len(pandas_df)

149

In [25]:
pandas_df['GENRE'].value_counts()

GENRE
Comedy      36
Drama       35
Thriller    29
Romance     25
Action      24
Name: count, dtype: int64

In [30]:
pd.crosstab(pandas_df['GENRE'],pandas_df['RELEASETIME'])

RELEASETIME  FS  HS  LW   N
GENRE
Action        3   3   3  15
Comedy        3   5   5  23
Drama         4   6   1  24
Romance       3   3   4  15
Thriller      4   1   2  22

In [41]:
pandas_df['Month'] = pandas_df.apply(lambda row: row['RELEASEDATE'].split("-")[1],axis=1)

pandas_df['Month'].value_counts()

AttributeError: 'datetime.date' object has no attribute 'split'

In [35]:
pandas_df

,SLNO,RELEASEDATE,MOVIENAME,RELEASETIME,GENRE,BUDGET,BOXOFFICECOLLECTION,YOUTUBEVIEWS,YOUTUBELIKES,YOUTUBEDISLIKES,MONTH
0,1,2014-04-18,2 States,NaT,Romance,36,104.00,8576361,26622,2527,NaN
1,2,2013-01-04,Table No. 21,NaT,Thriller,10,12.00,1087320,1129,137,NaN
2,3,2014-07-18,Amit Sahni Ki List,NaT,Comedy,10,4.00,572336,586,54,NaN
3,4,2013-01-04,Rajdhani Express,NaT,Drama,7,0.35,42626,86,19,NaN
4,5,2014-07-04,Bobby Jasoos,NaT,Comedy,18,10.80,3113427,4512,1224,NaN
...,...,...,...,...,...,...,...,...,...,...,...
144,145,2015-02-27,Dum Laga Ke Haisha,NaT,Comedy,15,30.00,3250917,8185,615,NaN
145,146,2015-03-13,NH10,NaT,Thriller,13,32.10,5592977,15464,1513,NaN
146,147,2015-03-20,Dilliwali Zaalim Girlfriend,NaT,Comedy,32,12.00,2316047,4289,807,NaN
147,148,2015-03-20,Hunterrr,NaT,Comedy,5,11.89,4674795,3706,762,NaN
148,149,2014-05-23,Kochadaiiyaan,NaT,Action,150,120.00,4740727,13466,2649,NaN