In [ ]:
!pip install pyarrow
!pip install faker

In [1]:
import pandas as pd
import random

# Define constants
NUM_RECORDS = 300000
QUALIFICATIONS = [
    "Associates Degree", "Bachelors Degree", "Masters Degree", 
    "Doctoral Degree", "Professional Degree", "Other"
]
CONTINENTS = ["North America", "Europe", "Asia-Pacific", "Middle East and Africa"]
LOCATIONS = {
    "North America": {
        "United States": {
            "Washington": [("Bellevue", "47.6101° N", "122.2015° W"), ("Redmond", "47.6730° N", "122.1215° W")],
            "Texas": [("Dallas", "32.7767° N", "96.7970° W"), ("Houston", "29.7604° N", "95.3698° W")],
            "New Jersey": [("Warren", "40.6301° N", "74.5004° W")],
            "Georgia": [("Alpharetta", "34.0754° N", "84.2941° W")],
            "Florida": [("Tampa", "27.9506° N", "82.4572° W")],
            "Ohio": [("Cincinnati", "39.1031° N", "84.5120° W")],
            "Arizona": [("Scottsdale", "33.4942° N", "111.9261° W")],
            "Connecticut": [("Hartford", "41.7658° N", "72.6734° W")],
            "Wisconsin": [("Glendale", "43.1286° N", "87.9243° W")]
        },
        "Canada": {
            "Alberta": [("Calgary", "51.0447° N", "114.0719° W")],
            "Ontario": [("Mississauga", "43.5890° N", "79.6441° W")]
        },
        "Mexico": {
            "Mexico City": [("Mexico City", "19.4326° N", "99.1332° W")],
            "Jalisco": [("Guadalajara", "20.6597° N", "103.3496° W")]
        },
        "Costa Rica": {
            "San Jose": [("San Jose", "9.9281° N", "84.0907° W")]
        }
    },
    "Europe": {
        "Belgium": [("Brussels", "50.8503° N", "4.3517° E"), ("Diegem", "50.8870° N", "4.4370° E")],
        "Cyprus": [("Nicosia", "35.1856° N", "33.3823° E")],
        "Czech Republic": [("Prague", "50.0755° N", "14.4378° E")],
        "Denmark": [("Copenhagen", "55.6761° N", "12.5683° E")],
        "Finland": [("Espoo", "60.2055° N", "24.6559° E")],
        "France": [("Puteaux", "48.8848° N", "2.2399° E"), ("Blagnac", "43.6328° N", "1.3936° E")],
        "Germany": [("Frankfurt", "50.1109° N", "8.6821° E")]
    },
    "Asia-Pacific": {
        "India": {
            "Karnataka": [("Bangalore", "12.9716° N", "77.5946° E")],
            "Maharashtra": [("Mumbai", "19.0760° N", "72.8777° E"), ("Pune", "18.5204° N", "73.8567° E")],
            "Tamil Nadu": [("Chennai", "13.0827° N", "80.2707° E")],
            "Telangana": [("Hyderabad", "17.3850° N", "78.4867° E"), ("Warangal", "17.9910° N", "79.5346° E")],
            "Gujarat": [("Ahmedabad", "23.0225° N", "72.5714° E")],
            "West Bengal": [("Kolkata", "22.5726° N", "88.3639° E")],
            "Uttar Pradesh": [("Noida", "28.5355° N", "77.3910° E")],
            "Haryana": [("Gurgaon", "28.4595° N", "77.0266° E")]
        },
        "Australia": {
            "New South Wales": [("Sydney", "33.8688° S", "151.2093° E")],
            "Victoria": [("Melbourne", "37.8136° S", "144.9631° E")]
        },
        "Singapore": {
            "Singapore": [("Singapore City", "1.3521° N", "103.8198° E")]
        }
    },
    "Middle East and Africa": {
        "United Arab Emirates": {
            "Dubai": [("Dubai City", "25.2048° N", "55.2708° E")]
        },
        "South Africa": {
            "Johannesburg": [("Johannesburg City", "26.2041° S", "28.0473° E")]
        }
    }
}

# Generate data
data = []
for i in range(NUM_RECORDS):
    employee_id = f"{random.randint(10000000, 99999999)}"
    birth_year = random.randint(1960, 2000)
    age = 2024 - birth_year
    qualification = random.choice(QUALIFICATIONS)
    ethnicity = random.choice(["Asian", "Hispanic", "Caucasian", "African"])
    marital_status = random.choice(["Single", "Married"])
    gender = random.choice(["Male", "Female"])
    continent = random.choice(CONTINENTS)
    country = random.choice(list(LOCATIONS[continent].keys()))
    state = random.choice(list(LOCATIONS[continent][country].keys()))
    city, latitude, longitude = random.choice(LOCATIONS[continent][country][state])
    
    data.append([
        employee_id, birth_year, age, qualification, ethnicity, 
        marital_status, gender, continent, country, state, city, 
        latitude, longitude
    ])

# Create DataFrame
columns = [
    "EMPLOYEE_ID", "BIRTH_YEAR", "AGE", "QUALIFICATION", "ETHNICITY", 
    "MARITAL_STATUS", "GENDER", "CONTINENTS", "COUNTRY", "STATE", 
    "CITY", "LATITUDE", "LONGITUDE"
]
df = pd.DataFrame(data, columns=columns)

# Save to CSV
df.to_csv("Employee_Demographics_and_Job_Details.csv", index=False)

print("Data generation complete. Saved to 'Employee_Demographics_and_Job_Details.csv'.")

AttributeError: 'list' object has no attribute 'keys'

In [3]:
import pandas as pd
import random

# Define constants
NUM_RECORDS = 300000
QUALIFICATIONS = [
    "Associates Degree", "Bachelors Degree", "Masters Degree", 
    "Doctoral Degree", "Professional Degree", "Other"
]
CONTINENTS = ["North America", "Europe", "Asia-Pacific", "Middle East and Africa"]
LOCATIONS = {
    "North America": {
        "United States": {
            "Washington": [("Bellevue", "47.6101° N", "122.2015° W"), ("Redmond", "47.6730° N", "122.1215° W")],
            "Texas": [("Dallas", "32.7767° N", "96.7970° W"), ("Houston", "29.7604° N", "95.3698° W")],
            "New Jersey": [("Warren", "40.6301° N", "74.5004° W")],
            "Georgia": [("Alpharetta", "34.0754° N", "84.2941° W")],
            "Florida": [("Tampa", "27.9506° N", "82.4572° W")],
            "Ohio": [("Cincinnati", "39.1031° N", "84.5120° W")],
            "Arizona": [("Scottsdale", "33.4942° N", "111.9261° W")],
            "Connecticut": [("Hartford", "41.7658° N", "72.6734° W")],
            "Wisconsin": [("Glendale", "43.1286° N", "87.9243° W")]
        },
        "Canada": {
            "Alberta": [("Calgary", "51.0447° N", "114.0719° W")],
            "Ontario": [("Mississauga", "43.5890° N", "79.6441° W")]
        },
        "Mexico": {
            "Mexico City": [("Mexico City", "19.4326° N", "99.1332° W")],
            "Jalisco": [("Guadalajara", "20.6597° N", "103.3496° W")]
        },
        "Costa Rica": {
            "San Jose": [("San Jose", "9.9281° N", "84.0907° W")]
        }
    },
    "Europe": {
        "Belgium": [("Brussels", "50.8503° N", "4.3517° E"), ("Diegem", "50.8870° N", "4.4370° E")],
        "Cyprus": [("Nicosia", "35.1856° N", "33.3823° E")],
        "Czech Republic": [("Prague", "50.0755° N", "14.4378° E")],
        "Denmark": [("Copenhagen", "55.6761° N", "12.5683° E")],
        "Finland": [("Espoo", "60.2055° N", "24.6559° E")],
        "France": [("Puteaux", "48.8848° N", "2.2399° E"), ("Blagnac", "43.6328° N", "1.3936° E")],
        "Germany": [("Frankfurt", "50.1109° N", "8.6821° E")]
    },
    "Asia-Pacific": {
        "India": {
            "Karnataka": [("Bangalore", "12.9716° N", "77.5946° E")],
            "Maharashtra": [("Mumbai", "19.0760° N", "72.8777° E"), ("Pune", "18.5204° N", "73.8567° E")],
            "Tamil Nadu": [("Chennai", "13.0827° N", "80.2707° E")],
            "Telangana": [("Hyderabad", "17.3850° N", "78.4867° E"), ("Warangal", "17.9910° N", "79.5346° E")],
            "Gujarat": [("Ahmedabad", "23.0225° N", "72.5714° E")],
            "West Bengal": [("Kolkata", "22.5726° N", "88.3639° E")],
            "Uttar Pradesh": [("Noida", "28.5355° N", "77.3910° E")],
            "Haryana": [("Gurgaon", "28.4595° N", "77.0266° E")]
        },
        "Australia": {
            "New South Wales": [("Sydney", "33.8688° S", "151.2093° E")],
            "Victoria": [("Melbourne", "37.8136° S", "144.9631° E")]
        },
        "Singapore": {
            "Singapore": [("Singapore City", "1.3521° N", "103.8198° E")]
        }
    },
    "Middle East and Africa": {
        "United Arab Emirates": {
            "Dubai": [("Dubai City", "25.2048° N", "55.2708° E")]
        },
        "South Africa": {
            "Johannesburg": [("Johannesburg City", "26.2041° S", "28.0473° E")]
        }
    }
}

# Define ethnicity based on continent or country
ETHNICITY_MAP = {
    "North America": ["Caucasian", "African American", "Hispanic", "Asian"],
    "Europe": ["Caucasian", "Asian", "African"],
    "Asia-Pacific": ["Asian", "Caucasian"],
    "Middle East and Africa": ["African", "Middle Eastern", "Caucasian"]
}

# Generate data
data = []
for i in range(NUM_RECORDS):
    employee_id = f"{random.randint(10000000, 99999999)}"
    birth_year = random.randint(1960, 2000)
    age = 2024 - birth_year
    qualification = random.choice(QUALIFICATIONS)
    continent = random.choice(CONTINENTS)
    country = random.choice(list(LOCATIONS[continent].keys()))
    state = random.choice(list(LOCATIONS[continent][country].keys()))
    city, latitude, longitude = random.choice(LOCATIONS[continent][country][state])
    ethnicity = random.choice(ETHNICITY_MAP[continent])
    marital_status = random.choice(["Single", "Married"])
    gender = random.choice(["Male", "Female"])
    
    data.append([
        employee_id, birth_year, age, qualification, ethnicity, 
        marital_status, gender, continent, country, state, city, 
        latitude, longitude
    ])

# Create DataFrame
columns = [
    "EMPLOYEE_ID", "BIRTH_YEAR", "AGE", "QUALIFICATION", "ETHNICITY", 
    "MARITAL_STATUS", "GENDER", "CONTINENTS", "COUNTRY", "STATE", 
    "CITY", "LATITUDE", "LONGITUDE"
]
df = pd.DataFrame(data, columns=columns)

# Save to CSV
df.to_csv("Employee_Demographics_and_Job_Details.csv", index=False)

print("Data generation complete. Saved to 'Employee_Demographics_and_Job_Details.csv'.")

AttributeError: 'list' object has no attribute 'keys'